<a href="https://colab.research.google.com/gist/BrunoArsioli/44257361e1633f36f567024a1f262b59/python_interview_prep-fundamentals-day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals: 1

## Data structures: lists, dictionaries, sets, and tuples (day 1)

### lists

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# create a list
my_list = [1, 2, 3, "nada", 5, 6]

# method: append()
my_list.append(10)

# method: extend([])
my_list.extend([100, 200, 300, "existe"])

# sum lists
double_list = my_list + my_list

# print updated list
print(my_list)
print(double_list)

[1, 2, 3, 'nada', 5, 6, 10, 100, 200, 300, 'existe']
[1, 2, 3, 'nada', 5, 6, 10, 100, 200, 300, 'existe', 1, 2, 3, 'nada', 5, 6, 10, 100, 200, 300, 'existe']

### dictionaries

**[G4 Advisor]** A dictionary is a mutable, unordered collection of key-value pairs, with unique keys.
Dictionaries use a hash table, which allows for fast key-value lookups.
Common dictionary methods: keys, values, items, get, update, pop, and popitem.

[Br] To me, it sounds like there are some new nomenclatures a PyDev should know about... Lets check some examples:

Note:
* "a":10 represents the key-value 
* one key is associated to one value 
* but, I think that, in data frames, the 'keys' are 'columns' and the 'values' are not unique, bu lists, with indexes to identify the unique values. 
* Good, to keep in mind the nomenclature. 
* **keep in mind** that this is what is called "**data structure**"

In [ ]:
# create a dictionary
my_dict = {"a":10, "b":20, "c":30}

# add a key to my_dict
my_dict["d"] = 4

# print updated my_dict
print(my_dict)

# method: get()
my_dict.get("b")

{'a': 10, 'b': 20, 'c': 30, 'd': 4}

20

### sets: colection of unique items

Sets:

* A set is an unordered, mutable collection of unique items.

* Sets are useful for membership testing and eliminating duplicate entries.

* Common set methods: add, remove, discard, union, intersection, difference, and symmetric_difference.

In [ ]:
# create a set
my_set = {"This", "is", "a", "set", "with", "unique", "strings"}

# method: add()
my_set.add("NEW")

# method: add() repeated entry
my_set.add("This")

print(f"This is my set with unique entries: {my_set}")
print("Note: The repeated entry is not there.")

This is my set with unique entries: {'This', 'is', 'unique', 'set', 'strings', 'NEW', 'a', 'with'}
Note: The repeated entry is not there.

* The add() method in sets is designed to add a single element at a time. 

* If you want to add multiple elements to a set, you can use the update() method, which takes an iterable as an argument. Here's an example:

In [ ]:
# method: add() multiple entries
my_set.update(["see", "how", "it", "works"])

# create a set with new_entries
new_entries = {"This", "is", "is", "repeated"}

# add a repeated entry
my_set.update(new_entries)

print(f"This is my set with unique entries: {my_set}")

This is my set with unique entries: {'This', 'is', 'see', 'works', 'unique', 'set', 'how', 'a', 'NEW', 'with', 'it', 'repeated', 'strings'}

### tuples  

* tuples are created with parentheses ()

* A tuple is an immutable, ordered collection of items. 

* Tuples are similar to lists, but **they cannot be modified after creation**.

* **Tuples** are **faster** and **consume less memory** compared to lists.

* Tuples can be used as keys in dictionaries.

In [ ]:
# crete a tuple: with parentheses ()
my_tuple = (1, 2, 3, "strings", "alowed", 4, 5)

# print tuple element
print(my_tuple[4])

alowed

### some extra thoughts

[Br] About the dictionaries. 

The jargon sounds new to me. But, the concepts seems very familiar. For example, in dataframes, the 'key' is the column name. 

And the 'value' , is actually a list of values, in which the unique entries are identified by the indexes (i.e. the index acting as the unique values). Is this correct?

. 

[Advisor] Yes, your understanding is mostly correct. 

In the context of dictionaries, a key-value pair is analogous to a column name and its associated values in a DataFrame. 

The key in a dictionary is similar to a column name in a DataFrame, while the value in a dictionary is like the list of values in that column. 

**However**, the **dictionary** itself **doesn't have an index like a DataFrame**.

* it's important to remember that DataFrames (from pandas) and dictionaries are different data structures with different functionalities. 

* **DataFrames** are designed specifically for data manipulation and analysis 

* **dictionaries** are a more general-purpose data structure in Python.

In [ ]:
# DataFrame: like many dictionaries together 

# key-value -->  columns-(list-of-values)

# define a dataframe
data = {
    "col1" : [10, 20, 30, 40],
    "col2" : ["A", "B", "D", "B"],
    "col3" : [0.01, 0.07, 0.09, 0.3],
}

# convert the data to pandas dataframe
df = pd.DataFrame(data)

# display the dataframe
df.head()

   col1 col2  col3
0    10    A  0.01
1    20    B  0.07
2    30    D  0.09
3    40    B  0.30

[Br] Why is that sometimes we need to pass on a list of values within curly braces { } , and sometimes, it has to be within squered brackets [ ] ?

.

[Advisor] 

**Curly braces { }** are used for defining sets and dictionaries


* **dictionary:**
* Note1: 'dictionaries' is a list of key-value unique entries ```my_dict = {"key1":11, "key2": 22, "key3:33}```

* Note: Dictionaries are unordered collections of key-value pairs.

* Note: the dictionary keys have to be hashable


* **sets:**
* Note2: 'sets' will keep only unique entries ```my_set = {"sets", "keep", "only", "unique", "entries"}```

* Note3: Sets are unordered collections of unique elements

* Note4: Sets are mutable, but their entries **have to be hashable** (usually immutable) objects: Meaning: a hashable is something that has a unique representation

.

**Square brackets [ ]** are used to define lists, and can contain repeated entries. 
* Note1: lists are mutable, and you can chenge their content ```my_list = [10, 20, 30]```


**Parentesis ()** 
* Use () to define tuples
* tuples are imutable (cant be changed after creation)
* tuples are faster to deal, consume less memory

### **Sumary on Data Structure**

**Sumary on Data Structure**

* the type of delimiter used indicates the data structure you're working with. 

* **lists** use squered brackets [], 

* **sets** and dictionaries use curly braces {}, 

* **dictionaries** require key-value pairs separated by a colon :, {"key1":value, ...}

* **tuples** : just like a list, but imutable, use parentesis ().

I think we just learned some new details and common jargon about data structures. This is all for today.